<%- include header.ejs %>
<body class="fp-page">
    <div class="fp-box">
        <div class="card">
            <div class="body">
                <form>
                    <div class="card" style="margin-bottom:0;">
                        <div class="body" style="padding:10px 20px 0">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="/public/assets/logo.png" height="60px"/> 
                                </div>
                                <div class="col-sm-10">
                                    <div class="logo">
                                        <a href="javascript:void(0);"><b>UCC-UPC</b></a>
                                        <small>UNIVERSAL PASSWORD CHANGER</small>
                                    </div>
                                </div>
                            </div><hr>
                        </div>
                    </div>
                    <%- include user_snippet.ejs %>
                    <div class="alert alert-danger">
                        <p>PASSWORD CHANGE FAILED</p>
                    </div>
                    <a href="#" class="btn btn-block btn-lg bg-pink waves-effect">Return to Previous Application!</a>
                    <div class="row m-t-20 m-b--5 align-center">
                        <small>&copy <%= new Date().getFullYear() %></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include footer.ejs %>