
    <!-- Jquery Core Js -->
    <script src="/public/plugins/jquery/jquery.min.js"></script>
    <!--<script src="/public/plugins/jquery/jquery-2.2.4.min.js"></script>-->

    <!-- Bootstrap Core Js -->
    <script src="/public/plugins/bootstrap/js/bootstrap.js"></script>
    <!--<script src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>-->

    <script type="text/javascript" src="/public/plugins/slick/slick.min.js"></script>
    <script type="text/javascript" src="/public/js/sharer.min.js"></script>
    <script type="text/javascript" src="/module/socket.io/client-dist/socket.io.min.js"></script>
    <!-- Custom Js -->
    <script src="/public/js/script.js"></script>
   <!--<script src="/module/moment/dist/moment.js"></script>--> 
   

   
   
</body>

</html>