<div class="card" style="margin-bottom:0;">
    <div class="body" style="padding:10px 20px 0">
        <div class="row">
            <div class="col-sm-2">
                <img src="/public/assets/logo.png" height="60px"/> 
            </div>
            <div class="col-sm-10">
                <div class="logo">
                    <a style="letter-spacing:0.3em;"><b>GAPHS </b></a>
                    <small>GHANA ASSOCIATION OF PUBLIC HEALTH STUDENTS</small>
                </div>
            </div>
        </div><hr>
    </div>
</div>
<!--
    #175a2d
    #be7426
-->