    <% if(user){ %>
   
       <div class="btn-group">
            <a href="/dash" class="btn btn-xs btn-info">HOME</a>
            <a href="/manage-photo" class="btn btn-xs btn-warning">SEARCH PIX</a>
            <a href="/update-photo" class="btn btn-xs btn-info">UPLOAD PIX</a>
        </div>
       
   
    <% } %>