    <% if(user){ %>
    <div class="card">
        <div class="body">
            <div class="media" style="margin-bottom:0">
                <div class="media-left">
                    <img class="media-object" src="./public/profile_img.png" width="50" height="50">
                </div>
                <div class="media-body">
                    <h5 class="media-heading">STUDENT ADMIN</h5> 
                    <p><b>Ebenezer Kwabena Blay Ackah</b></p>
                </div>
            </div>
        </div>
    </div>
    <% } %>