<div class="item-cover row">
    <div class="col-sm-6">
        <a href="" class="item-link btn btn-xs btn-warning"><b>RESOURCES</b></a>
        <a href="" class="item-link btn btn-xs"><b>MEMBERS</b></a>
    </div>
    <div class="col-sm-6">
        <a href="" class="item-link btn btn-xs"><b>MY DUES</b></a>
        <a href="" class="item-link btn  btn-xs btn-warning"><b>MY CLASS</b></a>
    </div>

    <div class="col-sm-12 m-t-20">
        <a href="" class="item-link btn btn-xs"><b>MANAGE UPCOMING EVENTS</b></a>
        <a href="" class="item-link btn btn-xs"><b>MANAGE NEWS ARTICLES</b></a>
        <a href="" class="item-link btn btn-xs"><b>MANAGE STUDENT DUES</b></a>
        <a href="" class="item-link btn btn-xs"><b>MANAGE EXECUTIVES</b></a>
        <a href="" class="item-link btn btn-xs"><b>MANAGE RESOURCES</b></a>
    </div>
    
</div>
