<div class="item-cover">
    <a href="manage-photo" class="item-link row">
        <div class="col-sm-3">
            <img src="/public/assets/logo.png" height="60px"/> 
        </div>
        <div class="col-sm-9">
            <h5 class="item-title">Gaphs Elect New Leaders for 2021 With New Sets of Mixed Groups Like Obuasi</h5>
        </div>
        <div class="col-sm-12">
            <p class="item-content">The Association of Nursing Training schools have elected new set of executives for 2021 With New Sets of Mixed Groups Like Obuasi.</p>
            <p class="item-footer">
                    <span class="item-subfoot">Published : Feb 28, 2020</span>
                    <span class="item-subfoot">By : Benson Aseidu</span>
            </p>
        </div>
    </a>
</div>
