<div class="item-cover">
    <a href="manage-photo" class="item-link row">
        <div class="col-sm-5">
            <img src="/public/assets/logo.png" height="120px"/> 
        </div>
        <div class="col-sm-7">
            <h5 class="item-title"> EBENEZER KWABENA BLAY ACKAH</h5>
            <p class="item-footer">
                <span class="item-subfoot">VICE PRESIDENT</span>
            </p>
            <p class="item-footer">
                <span class="item-subfoot">COMMUNITY HEALTH NURSING</span>
            </p>
        </div>
        <div class="col-sm-12 hidden">
            <p class="item-content">The Association of Nursing Training schools have elected new set of executives for 2021 With New Sets of Mixed Groups Like Obuasi.</p>
            <p class="item-footer">
                    <span class="item-subfoot">PRESIDENT</span>
                    <span class="item-subfoot">By : Benson Aseidu</span>
            </p>
        </div>
    </a>
</div>
