<div class="item-cover">
    <% if(rows && rows.length > 0){
        for(var row of rows){
    %>
    <a class="item-link row">
        <div class="col-sm-5">
            <img src="<%- row.path || '/public/assets/profile_img.png' %>" height="120px"/> 
        </div>
        <div class="col-sm-7">
            <h5 class="item-title"> <%- row.name.toUpperCase() %></h5>
            <p class="item-footer">
                <span class="item-subfoot"><%- row.position.toUpperCase() %>T</span>
            </p>
            <p class="item-footer">
                <span class="item-subfoot"><%- row.program.toUpperCase() %></span>
            </p>
        </div>
    </a>
    <% }}else{ %>
    <a class="item-link row">
        <div class="col-sm-12">
            <h5 class="item-title">EXECUTIVES PUBLISHED</h5>
        </div>
    </a>
    <% } %>
</div>
