<div class="item-cover">
    <div class="card">
        <div class="body">
            <form action="/signup" method="POST" enctype="multipart/form-data">
                <div class="row">
                   <div class="col-sm-6">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">USERNAME</h5>
                                <p class="list-group-item-text"><input type="text" name="username" placeholder="Enter Username" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">PASSWORD</h5>
                                <p class="list-group-item-text"><input type="password" name="password" placeholder="Enter Password" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <button class="btn btn-block btn-lg bg-pink waves-effect" id="changebtn" type="submit">SIGN IN</button>
                            </a>
                        </div>
                   </div>

                    <div class="col-sm-6">
                        <div class="list-group">
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">USERNAME</h5>
                                <p class="list-group-item-text"><input type="text" name="username" placeholder="Enter Username" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">PASSWORD</h5>
                                <p class="list-group-item-text"><input type="password" name="password" placeholder="Enter Password" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">INDEX NUMBER</h5>
                                <p class="list-group-item-text"><input type="text" name="indexno" placeholder="Enter Index number" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">PHONE NUMBER</h5>
                                <p class="list-group-item-text"><input type="text" name="phone" placeholder="Enter Phone Number" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <h5 class="list-group-item-heading">EMAIL ADDRESS</h5>
                                <p class="list-group-item-text"><input type="text" name="email" placeholder="Enter Email Address" class="form-control"/></p>
                            </a>
                            <a href="javascript:void(0);" class="list-group-item">
                                <button class="btn btn-block btn-lg bg-pink waves-effect" id="changebtn" type="submit">SIGN IN</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-12 m-t-20 m-b--5 align-center">
                        <small>&copy <%= new Date().getFullYear() %></small>
                    </div>
            </form>
        </div>
    </div>
</div>
